# Dependencies
node_modules/
package-lock.json

# Build output
dist/
*.tsbuildinfo

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local
